.video-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 45%;
}

.video-container {
    height: 200px;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .video-card {
        width: 100%;
    }
}

.description {
    word-wrap: break-word;
}